@font-face {
    font-family: AvinerBold;
    src: url("https://www.pepsi.com/en-us/assets/fonts/AvenirNextLTPro-Bold.otf") format('opentype');
    font-weight: 500;
 }

 .pepsi-nitro-container {
    background-image: url(https://www.pepsi.com/en-us/uploads/images/nitro/Tablet_Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
 }

 .pepsi-nitro__flex {
    display: flex;
    flex-direction: column;
    padding: 6vw 0;
    /* width: 80%; */
 }

 .pepsi-nitro__flex-child {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .pepsi-nitro__flex-child:first-of-type img {
    width: 46vw;
 }

 .pepsi-nitro__flex-child:last-of-type img {
    width: 57vw;
 }

 .pepsi-nitro__flex-child button {
    margin: 0 0 6vw 0px;
 }
 .pepsi-nitro__flex-child h1 {
    font-size: 5vw;
    line-height: 0;
    padding: 8vw 0;
    font-family: "AvinerBold";
 }

 @media screen and (min-width: 390px) {

    .pepsi-nitro__flex {
       padding: 9vw 0;
    }

    .pepsi-nitro__flex-child h1 {
       font-size: 6vw;
       padding: 9vw 0;
    }

    .pepsi-nitro__flex-child button {
       margin: 0 0 10vw 0px;
    }

    .pepsi-nitro__flex-child:first-of-type img {
       width: 53vw;
    }

    .pepsi-nitro__flex-child:last-of-type img {
       width: 73vw;
    }

 }

 @media screen and (min-width: 768px) {

    .pepsi-nitro-container {
       background-image: url(https://www.pepsi.com/en-us/uploads/images/nitro/Desktop_Background.png);
       background-position: 50% center;
    }

    .pepsi-nitro__flex {
       flex-direction: row;
       padding: 7vw 0 4vw 0;
    }

    .pepsi-nitro__flex-child {
       justify-content: center;
       flex: 50%;
       /* border:1px solid black; */
    }

    .pepsi-nitro__flex-child:last-of-type img {
       width: 79%;
    }

    .pepsi-nitro__flex-child h1 {
       font-size: 23px;
       line-height: 29px;
       padding: 2vw 0;
       text-align: center;
    }

    .pepsi-nitro__flex-child button {
       margin: 0;
    }

    .pepsi-nitro__flex-child:first-of-type img {
       /* width: 79%; */
       width: 276px;
    }

    .pepsi-nitro__flex-child:last-of-type img {
       /* width: 79%; */
       width: 282px;
    }

    .pepsi-nitro__flex-child:first-of-type {
       padding: 0 0 0 3vw;
    }

    .pepsi-nitro__flex-child:last-of-type {
       order: -1;
       align-items: flex-end;
       display: flex;
    }
 }

 @media screen and (min-width: 1024px) {

    .pepsi-nitro__flex-child h1 {
       font-size: 31px;
       line-height: 38px;
       padding: 2vw 0;
    }

    .pepsi-nitro__flex-child:first-of-type img {
       /* width: 79%; */
       width: 362px;
    }

    .pepsi-nitro__flex-child:last-of-type img {
       /* width: 79%; */
       width: 371px;
    }

    .pepsi-nitro__flex-child:first-of-type {
       padding: 0 0 0 2vw;
    }

    @media screen and (min-width: 1024px) {

       .pepsi-nitro__flex {
          padding: 3vw 0 2vw 0;
       }

       .pepsi-nitro__flex-child h1 {
          font-size: 31px;
          line-height: 37px;
          padding: 2vw 0;
       }

       .pepsi-nitro__flex-child:first-of-type img {
          /* width: 79%; */
          width: 362px;
       }

       .pepsi-nitro__flex-child:last-of-type img {
          /* width: 79%; */
          width: 371px;
       }

       .pepsi-nitro__flex-child:first-of-type {
          padding: 0 0 0 3vw;
       }

    }

    @media screen and (min-width: 1366px) {

       .pepsi-nitro__flex {
          padding: 3vw 0 2vw 0;
       }

       .pepsi-nitro__flex-child h1 {
          font-size: 38px;
          line-height: 46px;
          padding: 2vw 0;
       }

       .pepsi-nitro__flex-child:first-of-type img {
          width: 424px;
       }

       .pepsi-nitro__flex-child:last-of-type img {
          width: 436px;
       }

       .pepsi-nitro__flex-child:first-of-type {
          padding: 0px 0 0 2vw;
       }

       .pepsi-nitro__flex-child:last-of-type {
          padding: 0 2vw 0 0;
       }

    }

    @media screen and (min-width: 1920px) {

       .pepsi-nitro__flex {
          padding: 2vw 0 1vw 0;
       }

       .pepsi-nitro__flex-child h1 {
          font-size: 51px;
          line-height: 62px;
          padding: 2vw 0;
       }

       .pepsi-nitro__flex-child:first-of-type img {
          width: 571px;
       }

       .pepsi-nitro__flex-child:last-of-type img {
          width: 586px;
       }

       .pepsi-nitro__flex-child:first-of-type {
          padding: 0 0 0 2vw;
       }

       .pepsi-nitro__flex-child:last-of-type {
          padding: 0 2vw 0 0;
       }

    }

    @media screen and (min-width: 2560px) {

       .pepsi-nitro__flex-child:first-of-type {
          padding: 0 0 0 8vw;
       }

       .pepsi-nitro__flex-child:first-of-type img {
          width: 571px;
       }

       .pepsi-nitro__flex-child:last-of-type img {
          width: 563px;
       }

    }
    


 }
